.container {
  --base-font-size: 1rem;
  --small-font-size: calc(var(--base-font-size) * 0.8);
  --small-gap: calc(var(--base-font-size) / 4);
  --numeric-stepper-button-size: 25px;
  --numeric-stepper-input-size: 40px;
  --input-height: calc(var(--base-font-size) * 2);
  --disabled-color: #bbb;
}

.container :global(.vtex-rich-text-0-x-heading) {
  margin: var(--base-font-size) 0 0;
}

.container
  :local([data-testid='totalizer-container'] > [data-testid^='totalizer-']) {
  flex: 1;
}

.container :global(.flex-wrap) {
  gap: var(--small-gap);
}

.container
  :global(.vtex-pageHeader__container)
  :global(.flex-wrap):not(:global(.justify-center)) {
  justify-content: end;
  align-items: center;
}

.container .table :global(#toolbar) {
  gap: var(--base-font-size);
  flex-wrap: wrap;
}

.table :global(.flex.items-center.w-100.h-100.ph4.bb.b--muted-4.truncate) {
  cursor: auto;
}

.container :global(.vtex-dropdown) {
  max-width: 100%;
}

.container :global(.vtex-dropdown__help-text) {
  margin-top: var(--small-gap);
  text-align: center;
}

.container :local([data-testid='totalizer-value']),
.container :global(.vtex-styleguide-9-x-input) {
  font-size: var(--base-font-size);
  word-break: break-word;
}

.container .price,
.container :local([data-testid='totalizer-label']) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .table {
  font-size: var(--small-font-size);
}

.container .table :global(.vtex-numeric-stepper__minus-button),
.container .table :global(.vtex-numeric-stepper__plus-button),
.container .table :global(.vtex-numeric-stepper__input) {
  height: var(--numeric-stepper-button-size);
  max-width: var(--numeric-stepper-button-size);
  font-size: var(--small-font-size);
  line-height: 1;
}

.container .table :global(.vtex-numeric-stepper__input) {
  max-width: var(--numeric-stepper-input-size);
}

.container :global(.strike) {
  color: var(--disabled-color);
}

.container .shippingEstimates {
  gap: 1rem;
  padding: 0;
  list-style: none;
  margin: 0;
}

.container .shippingEstimates > :local(*) {
  width: calc((100% - 1rem) / 2);
  min-width: 70px;
  flex: 1;
}

.container :global(.vtex-input-prefix__group),
.container .table :global(#toolbar) :global(.vtex-button) {
  min-height: var(--input-height);
}

.container :global(.vtex-input-prefix__group) {
  max-height: var(--input-height);
}

.container .table :global(#toolbar) :global(.vtex-button) :global(.mr3) {
  display: none;
}

:global(.vtex-styleguide-9-x-popup) {
  z-index: 2147483648 !important;
}

.container .containerToggle,
.container .groupToggles {
  gap: 0.5rem;
}

.container .containerToggle > :local(div:first-child) {
  flex: auto;
}

.container .itemContent {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.container :global(.vtex-checkbox__line-container) {
  align-items: center;
}

.promotionsContainer {
  gap: 16px;
  padding: 10px;
  scroll-behavior: smooth;
}

.promotionCard {
  max-width: 300px;
  min-width: 300px;
}

.promotionCard :global(.vtex-card) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promotionCard .promotionDescriptionContainer {
  gap: 0.75rem;
}

.promotionCard :global(.vtex-styleguide-9-x-progressHeight) {
  transition: width ease 0.5s;
}
